@font-face {
    font-family: Open-Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Open-Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

:root {
    --border-opacity: rgba(181, 159, 91, 0.5)
}
*{
    margin: 0;
    font-family: open-sans;
    
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
}
a {
    text-decoration: none;
    color: black;
}

.hovered-orange:hover {
    color: #b59f5b;
    transition: 0.2s;
}
.title-dashed::after {
    content: "";
    display: block;
    
    margin: 0 auto;
    width: 64px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 10px;
}
.title-dashed {
    position: relative;
}
  


/*  ------- H-E-A-D-E-R--------*/   

.header {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10%; 
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.header::after {
    content: "";
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.header__inner {
    padding: 23px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 40px * 2);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;

}
.header-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 75px;
    color: white;
    width: 680px;
    max-width: 90%;
    text-align: center;     
}
.burger-menu {
    display: none;
    flex-direction: column;
    height: 21px;
    width: 21px;
    justify-content: space-around;
}
.burger-menu__item {
    background-color: white;
    height: 3px;
    border-radius: 1px;
}

/* ---------N-A-V-I-G-A-T-I-O-N--------*/

.logo, .logo a {
    width: 100%;
    height: 40px;
}
.logo img {
    height: 100%;
    width: auto; 
}
.logo-mobile {
    display: none;
    width: 70%;
}

.nav-menus {
    list-style-type: none;
    display: flex; 
}

.menu-item {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    border: 2px solid transparent; 
}
.menu-item:nth-child(n+2) {
    margin-left: 35px;
}
.menu-item:hover {
    border-bottom: 2px solid white;
    transition: 0.4s;
}

/* ---------- T R E N D S------*/

.trends {
    margin-top: 60px; 
}
.trends__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;   
}
h2.trends__title, h2.our-products-title {
    font-size: 20px;
}


.trends__item:first-child {
    background: url('img/trends1.png')  no-repeat;
    background-size: cover;
}
.trends__item:nth-child(2) {
    background: url('img/trends2.png')  no-repeat;
    background-size: cover;
}
.trends__item:nth-child(3) {
    background: url('img/trends3.png')  no-repeat;
    background-size: cover;
}
.trends__item:nth-child(4) {
    background: url('img/trends4.png')  no-repeat;
    background-size: cover;
}

.trends__item {
    width: calc(25% - 1px);
    height: 20vw;
    margin-bottom: 1px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}
.trends__content {
    padding: 30px; /*или 2vw*/
    border: 3px solid var(--border-opacity); 
}
.trends__tag {
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
    margin-right: 15px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
.trends__tag:hover {
    border-color: #b59f5b;
    transition: 0.2s;
}

.trends__text {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: white;
}
.trends__text:hover {
    color: #b59f5b;
    transition: 0.2s;
}

/*   M A I N    P A G E    */

.content {
    max-width: 1200px;
    padding: 60px 30px;
    display: flex;
    box-sizing: border-box;
}
main {
    max-width: 800px;
    box-sizing: border-box;
    flex-shrink: 1;
}
.card {
    display: flex;
}
.card:nth-child(n+2){
    margin-top: 60px;
}
.card-img {
    width: 380px;
    margin-right: 30px;
}
.categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.categories li:nth-child(n+2){ 
    margin-left: 18px;
}
.categories li {
    display: inline-block;
}
.category {
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
.category:hover {
    border-bottom: 2px solid #b59f5b;  
    transition: 0.2s;
}
.card-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 10px;
}
.date {
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
}
.author {
    font-size: 12px;
    font-weight: bold;
}
.card-content {
    margin-top: 20px;
    font-size: 15px;
}
.card-content:first-child{
    margin-top: 50px;
}

/* ---------R-I-G-H-T----P-A-N-N-E-L---------*/

.right-block {
    width: 270px;
    flex-shrink: 0;
    margin-left: 30px;
}
.post {
    display: flex;
    height: 70px;
    line-height: 18px;
}
.new-posts {
    margin-bottom: 60px;
}
.post:nth-child(n+2) {
    margin-top: 20px;
}
.post-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.new-posts-title, .emailing-title, .tags-title, .topics-title, 
.trends__title, .our-products-title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    position: relative;
}   
.post img {
    margin-right: 20px;
}
.input-field {
    height: 48px; 
    position: relative; 
}
.search-form {
    display: flex;
}
.input {
    width: calc(100% - 48px);
    background-color: #f4f7f6;
    border: none;
    padding: 15px;
    color: #888888;
}
.search-button {
    background-color: #b59f5b;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    height: 48px;
    width: 48px;
    border: none;
}

/*--------E-M-A-I-L------*/

.email-form {
    position: relative;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
.emailing {
    margin-top: 60px;
}
.email {
    width: 100%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    color: #888888;
    background-color: #f4f7f6; 
}
.email:focus, .input:focus {
    border: 2px solid #b59f5b;
    outline: none;
}
.email-button, .our-products__button {
    background-color: #b59f5b;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: baseline;
    padding: 0;
    height: 48px;
    border: none;
    flex-shrink: 0;
}
.email-button:hover, .search-button:hover, .our-products__button:hover {
    background-color: #323232;
    color: white;
    transition: 0.2s;
}
.tags {
    margin-top: 40px;
}
.tag-items {
    margin-top: 35px;
    list-style-type: none;
    padding: 0;
}
.tag-items li {
    display: inline-block;   
}
.tag-item {
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 11px;
    margin: 3px;
    box-sizing: border-box;
}
.tag-item:hover {
    color: white;
    background-color:#b59f5b ;
    transition: 0.2s;
    border-color: #b59f5b;
}
.topics {
    margin-top: 60px;
}
.topics-block {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
.topic {
    display: block;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-weight: bold;
}
.topic:hover {
    color:#b59f5b ;
    transition: 0.2s;
}
sup {
    color:#b59f5b ;
    font-weight: bold;
    margin-left: 3px;
}

/*     O U R    P R O D U C T S   */

.our-products {
    font-size: 17px;
    margin-bottom: 65px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.our-products__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto 0;
    max-width: 1170px;
}
.our-products__product {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 30px;
}
.our-products__img {
    flex-basis: 225px;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    z-index: -2;
}
.our-products__product:nth-child(1) .our-products__img {
    background-image: url('img/our-products1.png');
}
.our-products__product:nth-child(2) .our-products__img {
    background-image: url('img/our-products2.png');
}
.our-products__product:nth-child(3) .our-products__img {
    background-image: url('img/our-products3.png');
}
.our-products__content {
    padding: 5%;
    flex-grow: 1;
    position: relative;
}
.our-products__content::after {
    content: '';
    position: absolute;
    outline: 3px solid var(--border-opacity);
    left: 0;
    right: 0;
    bottom: 0;
    top: -30px; 
    z-index: -1;  
}
.our-products__title {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.our-products__buy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.our-products__price, .our-products__price-dashed {
    font-weight: bold;
    font-size: 20px;
    display: block;
    align-self: flex-end;
}
.our-products__price-dashed {
    font-size: 14px;
    text-decoration: line-through;
}
.our-products__button {
    width: 140px;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 500;
}

/*-------F-O-O-T-E-R------*/

footer {
    padding-right: 27px;
    padding-left: 27px;
}
ul.icons {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
    
    list-style-type: none;
    padding: 0;
}


.icon, .socials-icon  {
    height: 24px;
    width: 24px;
    display: inline-block;
}

.icon:hover {
    transform: scale(1.25);
    transition: 0.2s;
   }

   
.socials {
    height: 80px;
    width: 100%;
    max-width: 1170px;
    background-color: #f4f7f6;
    padding: 25px 0;
    margin: 0 auto;
    box-sizing: border-box;
    
    
}


/*-------I-C-O-N-S-------*/

.twitter-logo {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
    background-size: cover;
}
.pinterest-logo {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
    background-size: cover;
}
.facebook-logo {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
    background-size: cover;
}
.instagram-logo {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
    background-size: cover;
}
.tumblr-logo {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-size: cover;
}






.copyright-text {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-align: center;
}
.copyright {
    width: 219px; /* по длине span.copyrigh-text */
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (min-width: 899px) and (max-width: 1120px) {
    .trends__item {
        width: calc(50% - 1px);
        height: 25vw;
    }
}

/*PHONE AND TABLET*/

@media (min-width: 300px) and (max-width: 900px) { 
    .burger-menu {
        display: flex;  
    }
    .nav-menus {
        display: none;
    }
    .card {
        flex-direction: column;
        border-bottom: 3px solid #eeeeee;
        padding-bottom: 35px;
        width: 100%;
    }
    .card-img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .trends {
        margin-top: 50px;
    }
    .trends__item {
        height: 30vw;
    }
    .trends__title {
        font-size: 18px;
    }
    .right-block {
        margin-right: auto;
    }
    .our-products-title {
        font-size: 18px;
    }
}

/*TABLET ONLY*/

@media (min-width: 768px) and (max-width: 900px) {
    .header {
        padding-right: 40px;
        padding-left: 40px; 
    }
    .header-text {
        font-size: 40px;
    }
    .our-products__product {
        width: calc(50% - 15px);
    }
    .trends__item {
        width: calc(50% - 1px);
    }
}

/*PHONE ONLY*/

@media (min-width: 300px) and (max-width: 767px) {
    .header__inner {
        width: 100%;
        justify-content: flex-end;
    }
    .header-text {
        font-size: 26px;
        line-height: 1.5em;
        margin-top: 25px;
    }
    .header {
        height: 100vh;
        background-image: url('img/header-mobile.png');
        background-size: cover;
    }   
    .header-intro {
        margin-top: 20vmax;
    }
    .header::after {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    .content {
        flex-direction: column;
        padding: 0 15px;
    }
    .trends__item {
        width: 100%;
        height: 63vw;
    }
    .news {
        width: 100%;
    }
    .card-name {
        margin-bottom: 15px;
    }
    .our-products {
        width: 90%;
        margin: 0 auto;
    }
    .our-products__product {
        width: 100%;
        margin-bottom: 25px;
    }
    .trends__text {
        font-size: 16px;
    }
    .card:first-child, .our-products {
        margin-top: 45px;
    }
    .card:last-child {
        margin-bottom: 45px;
    }
    .card-name {
        font-size: 16px;
    }
    .card-content {
        font-size: 14px;
    }
    .right-block {
        width: 100%;
    }
    footer {
        padding: 0;
        width: calc(90% + 6px);
        margin: 0 auto;
    }
}
